Package: com.rage.titanox
Name: libtitanox
Description: A hooking library, particularly for jailed environments!
Maintainer: rage
Author: rage
Section: System
Tag: role::developer
Architecture: iphoneos-arm
Version: 1
Installed-Size: 0
